# Maven
/target/

# NetBeans
/nbproject/private/
/nbactions.xml

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse / VS Code
.classpath
.project
.settings/
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db
